/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/frontend/node_modules/
/public/app.js
/public/lexxy.js
/public/lexxy.css
/public/rhino.js
/public/rhino.css
/public/codemirror.js
/public/whiteboard.js
/public/kanban.js
/public/forms.js
.DS_Store
/config/master.key
/storage/
